body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 480px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;

	@include tablet {
		max-width: 768px;
	}
	@include desktop {
		max-width: 1200px;
	}
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
	margin: auto;
}

.logo {
	font-family: "Raleway";
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #2196f3;
	display: block;

	// &--padding-r {
	// 	padding-right: 93px;
	// }

	&--color1 {
		color: #000000;
	}
	&--color2 {
		color: #fff;
	}
}
.list {
	list-style: none;
	// display: flex;
	gap: 30px;
	&__item {
		&--relative {
			position: relative;
		}
	}
}
